@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome to the Health Foods Store!</h2>

<p>This is a pretty bare bones project. I am just brushing up on my ASP MVC skills and learning some concepts I wasn't very famillar with.</p>